html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-bg-color);
}

main{
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: grid;
    grid-template-areas: "daniel daniel jonathan kira"
                         "jeanette patrick patrick kira";
    gap: 2.3rem 2.8rem;
    max-width: 1110px;
    grid-template-columns: repeat(4, 1fr);
    margin: 3rem;
}

.comments{
    padding: 2.5rem 3rem 0;
    border-radius: 1rem;
}

.comments .profile{
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.comments .profile img{
    border-radius: 50%;
    width: 3rem;
}

.comments .profile .name-container h3{
    font-size: 1.3rem;
    font-weight: 600;
}

.comments .profile .name-container p{
    font-size: 1.1rem;
}

.comments .emphasis{
    font-size: 2rem;
}

.comments .comment{
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding-bottom: 3rem;
}

.dark-card .profile .name-container h3{
    color: white;
}

.dark-card .profile .name-container p{
    color: #ffffff56;
}

.dark-card .emphasis{
    color: white;
    margin-top: 1.7rem; 
}

.dark-card .comment{
    color: #ffffff63;
    margin-top: 1.6rem;
    
}

.daniel-card{
    grid-area: daniel;
    background: var(--primary-soft-comment-bg-color) url(../images/bg-pattern-quotation.svg) no-repeat 82% top;
}

.daniel-card .profile img{
    border: 2px solid var(--img-border-color);
}

.jonathan-card{
    grid-area: jonathan;
    background-color: var(--neutral-medium-comment-bg-color);
}

.kira-card{
    grid-area: kira;
    background-color: var(--neutral-soft-comment-bg-color);
}

.kira-card .emphasis{
    margin-top: 1.6rem;
}

.kira-card .comment{
    margin-top: 2.5rem;
}

.jeanette-card{
    grid-area: jeanette;
    background-color: var(--neutral-soft-comment-bg-color);
}

.jeanette-card .emphasis{
    margin-top: 1.3rem;
    padding-right: 2rem;
}

.jeanette-card .comment{
    margin-top: 2.3rem;
}

.patrick-card{
    grid-area: patrick;
    background-color: var(--neutral-dark-comment-bg-color);
}

.patrick-card .profile img{
    border: 2px solid var(--img-border-color);
}

.patrick-card .comment{
    margin-top: 2.3rem;
}