:root{
    --body-bg-color:hsl(210, 46%, 95%);
    --neutral-soft-comment-bg-color:hsl(0, 0%, 100%);
    --neutral-medium-comment-bg-color:hsl(217, 19%, 35%);
    --neutral-dark-comment-bg-color: hsl(219, 29%, 14%);
    --primary-soft-comment-bg-color:hsl(263, 55%, 52%);
    --img-border-color: 2px solid hsla(263, 44%, 61%, 0.993);
    --dark-card-primary-text-color:white;
    --dark-card-secondary-text-color:#ffffff63;
}